<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Adventure Seeker</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <nav>
          <li>
            <a href="/showtrail" id="trailBtn"><h1>Seek Trails</h1></a>
          </li>
          <li>
            <a href="/showcamp" id="campBtn"><h1>Seek Camps</h1></a>
          </li>
        </nav>
      </div>
    </div>
    <div id="slider">
      <figure>
        <figcaption></figcaption>

        <img
          src="https://media.npr.org/assets/img/2018/04/04/gettyimages-937327264-0ffed8630d3555e1c7389d3af280fffec4bcf9ef.jpg"
        />

        <img
          src="https://blog.depositphotos.com/wp-content/uploads/2017/07/Soothing-nature-backgrounds-2.jpg.webp"
        />

        <img
          src="https://images.pexels.com/photos/2387418/pexels-photo-2387418.jpeg?cs=srgb&dl=pexels-ezra-comeau-2387418.jpg&fm=jpg"
        />

        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg"
        />
      </figure>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Adventure Seeker</title>
  </head>

  <body>
    <main>
      <nav>
        <li>
          <a href="/showtrail" id="trailBtn">
            <h2>Seek Trails</h2>
          </a>
        </li>
        <li>
          <a href="/showcamp" id="campBtn">
            <h2>Seek Camps</h2>
          </a>
        </li>
      </nav>
      <div id="slider">
        <h1>Adventure Seeker</h1>
      </div>
    </main>
    <script>
      const photos = [
        "https://blog.depositphotos.com/wp-content/uploads/2017/07/Soothing-nature-backgrounds-2.jpg.webp",
        "https://images.pexels.com/photos/2387418/pexels-photo-2387418.jpeg?cs=srgb&dl=pexels-ezra-comeau-2387418.jpg&fm=jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg/1200px-Altja_j%C3%B5gi_Lahemaal.jpg",
        "https://media.npr.org/assets/img/2018/04/04/gettyimages-937327264-0ffed8630d3555e1c7389d3af280fffec4bcf9ef.jpg",
      ];

      const slider = document.querySelector("#slider");
      slider.style.backgroundImage = `url(${photos[0]})`;
      let position = 1;

      window.setInterval(() => {
        slider.style.transition = "all 1s ease-out";
        slider.style.backgroundImage = `url(${photos[position]})`;
        if (position === photos.length - 1) {
          position = 0;
        } else {
          position++;
        }
      }, 5000);
    </script>
  </body>
</html>
