<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=>, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Adventure Seeker</title>
  </head>
  <body>
    <div class="container">
      <h1>Adventure Seeker</h1>
      <aside>
        <a href="/showtrail" id="trailBtn"><button>Seek Trail</button></a>
        <a href="/showcamp" id="campBtn"><button>Seek Camp</button></a>
      </aside>
    </div>
  </body>
</html>
