<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=>, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Adventure Seeker</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <ul>
          <li>
            <a href="/showtrail" id="trailBtn"><h1>Seek Trails</h1></a>
          </li>
          <li>
            <a href="/showcamp" id="campBtn"><h1>Seek Camps</h1></a>
          </li>
        </ul>
      </div>
    </div>
    <div id="slider">
      <figure>
        <figcaption></figcaption>

        <img
          src="https://media.npr.org/assets/img/2018/04/04/gettyimages-937327264-0ffed8630d3555e1c7389d3af280fffec4bcf9ef.jpg"
        />

        <img
          src="https://blog.depositphotos.com/wp-content/uploads/2017/07/Soothing-nature-backgrounds-2.jpg.webp"
        />

        <img src="https://scx2.b-cdn.net/gfx/news/2019/2-nature.jpg" />

        <img
          src="https://th-thumbnailer.cdn-si-edu.com/8ciAzzKoUyvv-4kt1rLa3mLgwU0=/fit-in/1600x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/04/8e/048ed839-a581-48af-a0ae-fac6fec00948/gettyimages-168346757_web.jpg"
        />

        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5FdlJc7Bl0klIRPes7vleSn9oyL33s3kVqMyFyoK4jF1dCPSIP_AOkTw5-SER63Rp-MU&usqp=CAU"
        />
      </figure>
    </div>
  </body>
</html>
