<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/styles/showTrails.css"/>
    <title>Trails</title>
</head>
<body>
    <div class="flex-container">
        <a href="/views/index.ejs"><button>Home</button></a>
        <a href="/trail.js/<%= trail._id %>/edit">
    </div>
</body>
</html>