/* CSS for scroll animation  header */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

header {
    height: 200vh;
}

  .container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);

    /* does not work if overflow = visible */
    overflow: hidden;
    position: absolute;
    height: 100vh;
    left: 0;
    width: 100%;
}

.titleWrapper {
    position: fixed;
    display: block;  
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

  .titleWrapper h1 {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.containerHeader .titleWrapper h1 {
    /* the text background */
    background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
    background-size: 100vw auto;
    background-position: center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* fallback text color */
    color: black;
}

.containerImage {
    background-image: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    background-size:100vw auto;
    background-position: center;
    background-attachment: fixed;
    top: 100vh;
  }

  .containerImage .titleWrapper h1 {
    color: white;
}

/* ============================================================= */
/* CSS for scroll bar */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    background-color:#1D1D1D;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #30bf86, #075870);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
      background: #075870;
}


/* ================================================================== */
/* CSS for LI's */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


* {
    box-sizing: border-box;
}

ul {
    background-color: white;
    font-family: 'Fraunces', serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    list-style: none;
}

h3 {
    margin: 10px;
}

.db-trails{
    background-color:#1D1D1D;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 25%px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.9s ease;
}

.db-trails:nth-of-type(even) {
    transform: translateX(-400%);
}

.db-trails.show {
    transform: translateX(0);
}

/* ============================================================== */

img {
    border-radius: 25%;
    height: 300px;
} 

body {
    text-align: center;
}

a {
    color: black;
    border-radius: 12px;
    font-size: 15px;
    display: inline-block;
} 
.homeBtn {
    font-size: 20px;
    padding: 0;
    z-index: 1000;
}

.campLink {
    font-size: 20px;
    padding: 0;
    z-index: 1000;
}

.editTrailBtn {
    color: white;
    background-color: goldenrod;
    border-radius: 12px;
    font-size: 15px;
}

#delete {
    color: white;
    background: linear-gradient(#ed213a, #93291e);
    border-radius: 12px;
    font-size: 15px;
}

.addTrailBtn {
    color: white;
    background:linear-gradient(#30bf86, #075870);
    border-radius: 12px;
    font-size: 20px;
}

.secondAddTrail {
    color: white;
    background: linear-gradient(#30bf86, #075870);
    border-radius: 12px;
    font-size: 15px;
}


.topBtns {
    align-items: center;
}


/* ===================================================
Add Trail Modal CSS */

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow:hidden;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal1-content {
    color: white;
    background-color: #1D1D1D;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
    animation-name: addModalOpen;
    animation-duration: 1s;
    text-align: center;
}

.modal1CloseBtn {
    float: right;
    color: white;
    font-size: 20px;
    
}

.modal1CloseBtn:hover, .modal1CloseBtn:focus {
    color: #30bf86;
    text-decoration: none;
    cursor: pointer;
}

@keyframes addModalOpen {
    from{ opacity: 0;}
    to {opacity: 1;}
}



/* =================================================
Edit Trail Modal CSS */

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal2-content {
    background-color: #1D1D1D;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
    animation-name: editModalOpen;
    animation-duration: 1s;
    text-align: center;
}

.modal2CloseBtn {
    float: right;
    color: white;
    font-size: 20px;
    
}

.modal2CloseBtn:hover, .modal2CloseBtn:focus {
    color: #30bf86;
    text-decoration: none;
    cursor: pointer;
}

@keyframes editModalOpen {
    from{ opacity: 0;}
    to {opacity: 3;}
}

.secondEditBtn {
    color: white;
    background-color: #30bf86;
    border-radius: 12px;
    font-size: 15px;
}