@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

header {
    height: 200vh;
}

  .container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);
  
    /* does not work if overflow = visible */
    overflow: hidden;
  
    /* only works with absolute positioning */
    position: absolute;
  
    /* Make sure containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%; 
}


/* .containerHeader {
    background: white;
    top: 0;
} */

.titleWrapper {
    position: fixed;
    display: block;  
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

  .titleWrapper h1 {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.containerHeader .titleWrapper h1 {
    /* the text background */
    background: url(https://wallpaperaccess.com/full/5826.jpg);
    background-size: 100vw auto;
    background-position: center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* fallback text color */
    color: black;
}

.containerImage {
    background-image: url(https://wallpaperaccess.com/full/5826.jpg);
    background-size:100vw auto;
    background-position: center;
    background-attachment: fixed;
    top: 100vh;
  }

  .containerImage .titleWrapper h1 {
    color: white;
  }

/* ========================================================= */


body {
    background-color: white;
    list-style:none;
}

.db-camps {
    justify-content: center;
}

li {
    text-align: center;
    padding: 10px;
    font-family: 'Fraunces', serif;
}

p {
    margin-left: 25%;
    margin-right: 25%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

img {
    border-radius: 25%;
    height: 300px;
}

.homeBtn {
    font-size: 20px;
    padding: 0;
    z-index: 1000;
    background-color: black;
}

a {
    color: black;
    border-radius: 12px;
    font-size: 15px;
}

/* ===================================================
Add Campsite Modal CSS */

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal1-content {
    background-color: gray;
    margin: 40% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
    animation-name: addModalOpen;
    animation-duration: 1s;
}

.modal1CloseBtn {
    float: right;
    color: white;
    font-size: 20px;
    
}

.modal1CloseBtn:hover, .modal1CloseBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes addModalOpen {
    from{ opacity: 0;}
    to {opacity: 1;}
}

/* =================================================
Edit Campsite Modal CSS */

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal2-content {
    background-color: gray;
    margin: 40% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
    animation-name: editModalOpen;
    animation-duration: 1s;
}

.modal2CloseBtn {
    float: right;
    color: white;
    font-size: 20px;
    
}

.modal2CloseBtn:hover, .modal2CloseBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes editModalOpen {
    from{ opacity: 0;}
    to {opacity: 1;}
}